.reviewCard{
    max-width: 1000px;
    background-color: white;
    padding: 25px;
    margin:15px auto !important;
  }
  .reviewCard .cardTop{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 2px;
  }
  .reviewCard .avatar img{
    width: 50px;
    border-radius: 50%;
    margin:auto;
  }
  .reviewCard .content h6{
    font-weight: bold;
  }
  .reviewCard button{
    border: none;
    background-color: white;
  }
  .reviewCard .delete{
    color: black;
    border: none;
  }
  .reviewCard .input-group{
    margin: 10px auto;
    width: 100%;
    background-color: #9fd45e;
    border: 1px solid #9fd45e;
   }
   .reviewCard .input-group ::placeholder{
     color: #9fd45e;
     font-size: 1.2rem;
     opacity: 1;
   }
   
   .reviewCard .input-group button{
     border: none;
     background-color: #9fd45e;
   }