.bg{
    color: white;
    background-color: rgba( 0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
  }
  .bg h1{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding:0 auto;
    font-size: 1.8rem;
    line-height: 80px;
    letter-spacing: 7px;
    font-weight: bolder;
  }

  .bg p{
    text-align: center;
    letter-spacing: 2px;
    line-height: 26px;
    margin-bottom: 40px;
    font-weight: bold;
  }

  .bg input{
    border: 2px solid #9ACC55;
    background: white;
    height: 40px;
    width: 430px;
    padding: 5px;
    color: white;
  }
  .bg input::placeholder{
    color: #9ACC55;
    font-weight: bolder;
  }
  .bg a{
    color: #ffffff;
    background: #9ACC55;
    /* height: 40px; */
    line-height: 40px;
    padding: 0px 10px;
    display: inline-block;
  }

  @media only screen and (max-width: 770px) {
    .bg h1{
      font-size: 1.4rem;
      letter-spacing: 2px;
      line-height: 40px;
    } 
    .bg p{
      letter-spacing: 1px;
    }
    .bg input{
      width: auto;
    }
}